@import "tailwindcss";



/* *{
    margin: 0;
    padding: 0;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #F4FBFF;
}


.content{
    flex: 1;
} */
